{% comment %}

Copyright 2011 Lucas Clemente Vella
Software under Affero GPL license, see LICENSE.txt

{% endcomment %}<html>
<body>
<form method='post' action='{{ url }}' id='redirect'></form>
<script type='text/javascript'>
  document.getElementById('redirect').submit();
</script>
</body>
</html>
