/* Copyright 2013 Fractal Jogos e Tecnologia
 * Software under Affero GPL license, see LICENSE.txt */

#main {
    display: block;
    position: relative;
    width: 438px;
    margin: 0 auto;
}

#p1_pts_box {
    background: rgba(255,0,0,0.25);
    text-align: left;
    
    display: block;
    position: relative;
    width: 70px;
    margin-bottom: 25px;
}

#snd_pts_box{
    text-align: left;
    display: block;
    position: absolute;
    top: 0px;
    width: 50px;
    left: 153px;
}

#h_pts_box {
    text-align: center;
    font-size: 150%;
    display: block;
    position: absolute;
    top: 0px;
    width: 50px;
    left: 183px;
}

#p2_pts_box {
    background: rgba(0,0,255,0.25);
    text-align: right;
    
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
}

#game_box {
    display: block;
    position: relative;
    height: 416px;
    margin-bottom: 10px;
}

.pbox {
    text-align: center;
    text-align: center;
    display: block;
    width: 150px;
    height: 40px;
}

#p1_box {
    background: rgba(255,0,0,0.25);
    position: relative;
    margin-bottom: 10px;
}

#p2_box {
    background: rgba(0,0,255,0.25);
    position: absolute;
    bottom: 67px;
    right: 0px;
}

#p1_link:hover,
#p2_link:hover {
	color: #000;
}

#p1_pic {
    margin-right: 2px;
    float: left;
}

#p2_pic {
    margin-left: 2px;
    float: right;
}

.pinfo {
    font-size: x-small;
    position: relative;
    bottom: -4px;
}

.pname {
    white-space: normal;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tnt_box {
    position: absolute;
    padding: 9px;
    bottom: 63px;
    right: 184px;
    width: 52px;
    height: 52px;
}

#message {
    height: 35px;
    text-align: center;
}

#join_link {
    width: 390px;
}

#timeout_terminate {
  text-align: center;
  display: block;
  /*position: absolute;*/
}

#timeout_claim {
  text-align: center;
  display: block;
  /*position: absolute;*/
}

#timeout_buttons {
  top: 0px;
  left: 125px;
  display: none;
	width: 180px;
	position: absolute;
	padding: 3px;
}

img.tntbtn {
    position: relative;
    bottom: 4px;
    right: 4px;
    padding: 2px 2px 2px 2px;
}

img.out {
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

img.out:hover {
    background: rgba(255,255,255,0.25);
    background-image: url('/static/images/spark.png');
    background-repeat: no-repeat;
    background-position: top right;
}

img.in {
    border-top: 1px solid #333333;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #333333;
    background-image: url('/static/images/spark.png');
    background-repeat: no-repeat;
    background-position: top right;
}
