/* Copyright 2013 Fractal Jogos e Tecnologia
 * Software under Affero GPL license, see LICENSE.txt */

.list_games {
	padding: 0px 10px;
	overflow: hidden;
/*	width: 20em; */
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* TABLES */

table {
	/* border-collapse:collapse; */
	empty-cells: hide;
	overflow: visible;
	width:100%; 
	border-spacing: 20px;
}

tr {
	width:50%;
}

#new_game {
	vertical-align: bottom;
}

#join_game {
}

#your_game {
}

td.top {
	vertical-align: top;
}
td h1 {
	text-align: left;
}

caption {
	font-weight:bold;
	margin-bottom:.33em;
}

/* FORMS */

form {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
